<%= render partial: 'admin/shared/header' %>

<p id="notice"></p>
  <div class="container mx-auto">
    <h2 class="mt-3 ml-5", style="display: inline-block;">商品一覧</h2>
    
    <div style="float: right;">
      <%= link_to new_admin_item_path do %>
        <i class="fas fa-plus-circle mt-4 mr-5" style="font-size: 30px; color: gray;"></i>
      <% end %>
    </div>

    <div class="container mt-3">
      <table class="table">
        <thead>
          <tr>
            <th>商品ID</th>
            <th>商品名</th>
            <th>税抜価格</th>
          </tr>
        </thead>
        <tbody>
          <% @items.each do |item| %>
            <tr>
              <td><%= item.id %></td>
              <td><%= item.name %></td>
              <td><%= item.price %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <%= paginate @items %>
    </div>
  </div>
