<%= render partial: 'admin/shared/header' %>

<div class="container mt-5 ml-3">
  <div class="row row-cols-4">
    <div class="col-3"></div>
    <h3 class="col-2 text-center" style="background-color: #E5E8E8;">商品詳細</h3>
    <div class="col-4"></div>
    <div class="col-3"></div>
  </div>
  <div class="container mx-auto">
    <div class="row mt-5 ml-3">
      <div class="col-md-4 text-center">
        <%= image_tag @item.image, class: "img-fluid" %>
      </div>
      <div class="col-md-5">
        <div class="d-flex justify-content-start">
          <p style="margin-right: 75px; white-space: nowrap;">商品名</p>
          <p style="white-space: nowrap;"><%= @item.name %></p>
        </div>

        <div class="d-flex justify-content-start">
          <p style="margin-right: 60px; white-space: nowrap;">商品説明</p>
          <p><%= @item.introduction %></p>
        </div>

        <div class="d-flex justify-content-start">
          <p style="margin-right: 50px;">税込価格<br>(税抜価格)</p>
          <p class="mt-2"><%= number_with_delimiter(@item.tax_included_price.to_i) %>(<%= number_with_delimiter(@item.price.to_i) %>)円</p>
        </div>

        <div class="d-flex justify-content-center">
          <div class="form-group">
            <%= link_to "編集する", edit_admin_item_path(@item), class: "btn btn-primary", style: "width: 150px;" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
