<style>
  h3 {
    background-color: #E5E8E8;
    padding: 0 20px;
    margin-top: 10px;
  }

  th {
    background-color: #E5E8E8;
  }

</style>

<%= render partial: 'admin/shared/header' %>

<div class="container mt-4">
  <h3 style="display: inline-block;">注文履歴詳細</h3>
  <p class="mb-3"><strong>購入者:</strong> <%= @order.customer.full_name %></p>
  <p class="mb-3"><strong>注文日:</strong> <%= @order.created_at.strftime('%Y-%m-%d %H:%M:%S') %></p>
  <p class="mb-3"><strong>配送先:</strong> 〒<%= @order.postal_code %><%= @order.address %><%= @order.name %></p>
  <p class="mb-3"><strong>支払方法:</strong> <%= t("enums.order.payment_method.#{@order.payment_method}") %></p>

  <div class="container">
    <div class="row text-bottom">
      <div class="col-md-8 pl-0">
        <table class="table">
          <thead>
            <tr>
              <th style="white-space: nowrap;">商品名</th>
              <th style="white-space: nowrap;">単価(税込)</th>
              <th style="white-space: nowrap;">数量</th>
              <th style="white-space: nowrap;">小計</th>
            </tr>
          </thead>
          <tbody>
            <% @order.order_items.each do |order_item| %>
              <tr>
                <td><%= order_item.item.name %></td>
                <td><%= order_item.item.with_tax_price %></td>
                <td><%= order_item.amount %></td>
                <td><%= order_item.subtotal %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="col-3">
        <div class="d-flex flex-column justify-content-end align-items-end" style="height: 100%;">
          <div class="d-flex justify-content-between w-100">
            <strong>商品合計</strong>
            <span><%= @order.total_price %>円</span>
          </div>
          <div class="d-flex justify-content-between w-100">
            <strong>送料</strong>
            <span><%= @order.shipping_fee %>円</span>
          </div>
          <div class="d-flex justify-content-between w-100">
            <strong>請求金額合計</strong>
            <span><%= @order.total_price + @order.shipping_fee %>円</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>