<style>
   h3 {
    background-color: #E5E8E8;
    padding: 0 20px;
    margin-top: 10px;
  }

  .custom-table {
    border-collapse: collapse;
    width: 100%;
  }

  .custom-table th, .custom-table td {
    border: 1px solid #000;
  }

  th {
    background-color: #E5E8E8;
  }

  tr {
    border: 1px solid #000;
  }

  .page-specific-image {
    width: 70px;
    height: 50px;
  }

  .custom-table thead th {
    vertical-align: bottom;
    border-bottom: 1px solid #000;
  }
</style>

<%= render partial: 'public/shared/header' %>

<div class="container mt-5 ml-5 mr-5" style="display: inline-block; white-space: nowrap;">
  <div class="row align-items-center">
    <div class="col ml-2">
      <h3 style="display: inline-block;">ショッピングカート</h3>
    </div>
    <div class="col-2 text-right pr-0">
      <%= form_with(model: @cart_item, url: destroy_all_cart_items_path, method: :delete, remote: true) do |f| %>
        <%= f.submit 'カートを空にする', class: 'btn btn-danger' %>
      <% end %>
    </div>
    <div class="container pr-0 mt-3">
      <div class="row">
        <div class="col">
          <table class="table table-bordeblack custom-table">
            <thead>
              <tr>
                <th scope="col">商品名</th>
                <th scope="col">単価(税込)</th>
                <th scope="col">数量</th>
                <th scope="col">小計</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <% @合計金額 = 0 %>
              <% @cart_items.each do |cart_item| %>
                <tr>
                  <td style="vertical-align: middle;">
                    <%= image_tag cart_item.item.image, class: 'page-specific-image mr-3' %>
                    <%= cart_item.item.name %>
                  </td>
                  <td style="vertical-align: middle;"><%= cart_item.item.with_tax_price %></td>
                  <td class="p-0" style="vertical-align: middle;">
                    <%= form_with(model: cart_item, url: cart_item_path(cart_item), local: true, method: :patch) do |f| %>
                      <div class="d-flex justify-content-center">
                        <div class="mr-2 mt-1">
                          <%= f.select :amount, options_for_select((1..10).to_a, cart_item.amount), {}, class: 'form-control form-control-sm' %>
                        </div>
                        <div>
                          <%= f.submit '変更', class: 'btn btn-success' %>
                        </div>
                      </div>
                    <% end %>
                  </td>
                  <td style="vertical-align: middle;"><%= cart_item.subtotal %></td>
                  <td class="text-center">
                    <%= link_to '削除する', cart_item_path(cart_item), method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'btn btn-danger' %>
                  </td>
                </tr>
                <% @合計金額 += cart_item.subtotal %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col mt-3" >
            <%= link_to '買い物を続ける', root_path, class: 'btn btn-primary', style: 'height: 40px;' %>
          </div>
          <div class="col-2 text-right pr-0">
            <table class="table table-bordered custom-table">
              <tbody>
                <tr>
                  <th style="white-space: nowrap;">合計金額</th>
                  <td><%= @合計金額 %></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="text-center mt-4">
          <% if @cart_items.present? %>
            <%= link_to '情報入力に進む', new_order_path, class: 'btn btn-success', style: 'width: 160px;', disabled: @cart_items.empty? %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
