<body>
  <style>
    .span {
      color: #fff;
    }
    
    h2 {
      margin: 20px 0  0 60px;
      padding: 0 20px;
      background-color: #E5E8E8;
    }

    h5 {
      margin: 15px 0 15px 100px;
      padding: 0 20px;
      background-color: #E5E8E8;
    }

  </style>

<%= render partial: 'public/shared/header' %>

  <p id="notice"></p>
    <div class="container mx-auto">
      <h2 style="display: inline-block;">新規会員登録</h2>

        <%= form_with(model: resource, url: registration_path(resource_name), local: true) do |f| %>
          <%= render "public/shared/error_messages", resource: resource %>

            <div class="container mt-5">
              <div class="row">
                <div class="col-sm-3 col-xs-12">
                  <%= f.label :last_name, "名前", class: "mx-2" %>
                </div>
                <div class="col-sm-9 col-xs-12">
                  <div class="form-inline">
                    <span class="mr-4">(姓)</span>
                    <%= f.text_field :last_name, class: "form-control form-control-sm mr-3" %>
                    <span class="mr-4">(名)</span>
                    <%= f.text_field :first_name, class: "form-control form-control-sm" %>
                  </div>
                </div>
              </div>
            </div>

            <div class="container">
              <div class="row mt-2">
                <div class="col-sm-3 col-xs-12">
                  <%= f.label :last_name_kana, "フリガナ", class: "mx-2" %>
                </div>
                <div class="col-sm-9 col-xs-12">
                  <div class="form-inline align-items-center">
                    <span class="mr-2">(セイ)</span>
                    <%= f.text_field :last_name_kana, class: "form-control form-control-sm mr-3" %>
                    <span class="mr-2">(メイ)</span>
                    <%= f.text_field :first_name_kana, class: "form-control form-control-sm" %>
                  </div>
                </div>
              </div>
            </div>

            <div class="container">
              <div class="row mt-2">
                <div class="col-sm-3 col-xs-12">
                  <%= f.label :email, "メールアドレス", class: "mx-2" %>
                </div>
                <div class="col-sm-8 col-xs-12", style="padding-left: 65px;">
                  <%= f.email_field :email, class: "form-control form-control-sm", style: "width: 174px;" %>
                </div>
              </div>
            </div>

            <div class="container">
              <div class="row mt-2">
                <div class="col-sm-3 col-xs-12">
                  <%= f.label :postal_code, "郵便番号 (ハイフンなし)", class: "mx-2" %>
                </div>
                <div class="col-sm-8 col-xs-12", style="padding-left: 65px;">
                  <%= f.text_field :postal_code, class: "form-control form-control-sm", style: "width: 174px;" %>
                </div>
              </div>
            </div>

            <div class="container">
              <div class="row mt-2">
                <div class="col-sm-3 col-xs-12">
                  <%= f.label :address, "住所", class: "mx-2" %>
                </div>
                <div class="col-sm-8 col-xs-12", style="padding-left: 65px;">
                  <%= f.text_field :address, class: "form-control form-control-sm", style: "width: 415.59px;" %>
                </div>
              </div>
            </div>

            <div class="container">
              <div class="row mt-2">
                <div class="col-sm-3 col-xs-12">
                  <%= f.label :phone_number, "電話番号 (ハイフンなし)", class: "mx-2" %>
                </div>
                <div class="col-sm-8 col-xs-12", style="padding-left: 65px;">
                  <%= f.text_field :phone_number, class: "form-control form-control-sm", style: "width: 174px;" %>
                </div>
              </div>
            </div>

            <div class="container">
              <div class="row mt-2">
                <div class="col-sm-3 col-xs-12">
                  <%= f.label :password, "パスワード (6文字以上)", class: "mx-2" %>
                </div>
                <div class="col-sm-8 col-xs-12", style="padding-left: 65px;">
                  <%= f.password_field :password, autocomplete: "new-password", class: "form-control form-control-sm", style: "width: 174px;" %>
                </div>
              </div>
            </div>

            <div class="container">
              <div class="row mt-2">
                <div class="col-sm-3 col-xs-12">
                  <%= f.label :password_confirmation, "パスワード（確認用）", class: "mx-2" %>
                </div>
                <div class="col-sm-8 col-xs-12", style="padding-left: 65px;">
                  <%= f.password_field :password_confirmation,autocomplete: "new-password", class: "form-control form-control-sm", style: "width: 174px;" %>
                </div>
              </div>
            </div>

            <div class="container">
              <div class="row mt-2">
                <div class="col-sm-3 col-xs-12">
                </div>
                <div class="col-sm-8 col-xs-12", style="padding-left: 65px;">
                  <%= f.submit "新規登録", class: "btn btn-primary", style: "width: 150px;" %>
                </div>
              </div>
            </div>
          <% end %>

              <h5 style="display: inline-block;">既に登録済みの方</h5>
                <p style="margin-left: 150px;"><%= link_to "こちら", new_customer_session_path, style: "text-decoration: underline;" %>からログインしてください。</p>
    </div>
</body>