<style>
  .address-container {
    display: flex;
  }

  .address-details {
    display: flex;
    gap: 10px; /* お届け先情報の間隔を調整 */
  }

  .equal-height-table th, .equal-height-table td {
    height: 50px; /* 適切な高さに設定してください */
    vertical-align: middle;
  }

  h3 {
    background-color: #E5E8E8;
    padding: 0 20px;
    margin-top: 10px;
  }

  .custom-table {
    border-collapse: collapse;
  }

  .custom-table th, .custom-table td {
    border: 1px solid #000;
  }

  td {
    border-left: 1px solid #000; /* 左側のボーダーを追加 */
  }

  th {
    background-color: #E5E8E8;
  }

  tr {
    border: 1px solid #000;
  }

  .page-specific-image {
    width: 70px;
    height: 50px;
  }

  .custom-table thead th {
    vertical-align: bottom;
    border-bottom: 1px solid #000;
  }

</style>

<%= render partial: 'public/shared/header' %>

<div class="container mt-3" style="white-space: nowrap; width: 100%;">
  <div class="row">
    <div class="col text-center">
      <h3 style="display: inline-block;">注文情報確認</h3>
    </div>
    <div class="col"></div>
    <div class="col"></div>
  </div>

  <%= form_with(model: @order, url: place_order_public_orders_path, method: :post, local: false) do |form| %>
    <%= form.hidden_field :shipping_fee, value: @order.shipping_fee %>
    <%= form.hidden_field :total_price, value: @order.total_price %>
    <%= form.hidden_field :payment_method, value: @order.payment_method %>
    <%= form.hidden_field :address_type, value: @order.address_type %>
    <%= form.hidden_field :address_id, value: @order.address_id %>
    <%= form.hidden_field :postal_code, value: @order.postal_code %>
    <%= form.hidden_field :address, value: @order.address %>
    <%= form.hidden_field :name, value: @order.name %>

    <div class="container pr-0 mt-3" style="display: inline-block; white-space: nowrap;">
      <div class="row">
        <div class="col">
          <table class="table custom-table equal-height-table">
            <thead>
              <tr>
                <th>商品名</th>
                <th>単価(税込)</th>
                <th>数量</th>
                <th>小計</th>
              </tr>
            </thead>
            <tbody>
              <% @cart_items.each do |cart_item| %>
                <%= form.fields_for :cart_items, cart_item do |cart_item_form| %>
                  <%= cart_item_form.hidden_field :item_id, value: cart_item.item.id %>
                  <%= cart_item_form.hidden_field :amount, value: cart_item.amount %>
                  <tr>
                    <td>
                      <%= image_tag cart_item.item.image, class: 'page-specific-image mr-3' %>
                      <%= cart_item.item.name %>
                    </td>
                    <td><%= cart_item.item.with_tax_price %></td>
                    <td><%= cart_item.amount %></td>
                    <td><%= cart_item.subtotal %></td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
        <div class="col">
          <table class="equal-height-table">
            <tr>
              <th class="pr-5">送料</th>
              <td class="pr-5"><%= @order.shipping_fee %></td>
            </tr>
            <tr>
              <th class="pr-5">商品合計</th>
              <td class="pr-5"><%= @order.total_price %></td>
            </tr>
            <tr>
              <th class="pr-5">請求金額</th>
              <td class="pr-5"><%= @order.total_price + @order.shipping_fee %></td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <div class="address-container mt-4">
      <div class="mr-3">
        <p>支払方法</p>
      </div>
      <div class="address-details">
        <%= t("enums.order.payment_method.#{@order.payment_method}") %>
      </div>
    </div>
    <div class="address-container">
      <div class="mr-3">
        <p>お届け先</p>
      </div>
      <div class="address-details">
        <% if @order.address_type == 'self' %>
          <div class="address-info">
            <p>〒<%= @order.postal_code %><%= @order.address %>
            <br><%= @order.name %></p>
          </div>
        <% elsif @order.address_type == 'registered' && @order.address_id.present? %>
          <div class="address-info">
            <p>〒<%= @order.postal_code %><%= @order.address %>
            <br><%= @order.name %></p>
          </div>
        <% elsif @order.address_type == 'new' %>
          <div class="address-info">
            <p>〒<%= @order.postal_code %><%= @order.address %>
            <br><%= @order.name %></p>
          </div>
        <% end %>
      </div>
    </div>
    <div class="text-center mt-4">
      <%= form.submit '注文を確定する', class: 'btn btn-success', style: 'padding-left: 20px; padding-right: 20px;' %>
    </div>
  <% end %>
</div>
