<style>
   h4 {
    padding: 0 20px;
    background-color: #E5E8E8;
  }

  .table thead th {
    border: 1px solid #000;
  }

  th {
    font-size: 12px;
    background-color: #E5E8E8;
  }

  td {
    border: 1px solid #000 !important;
    font-size: 12px;
  }
</style>

<%= render partial: 'public/shared/header' %>

<div class="container mt-4">
  <div class="col-6 text-center">
    <h4 style="display: inline-block; white-space: nowrap;">注文履歴一覧</h4>
  </div>
  <div class="container">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th style="white-space: nowrap;">注文日</th>
          <th style="white-space: nowrap;">配送先</th>
          <th style="white-space: nowrap;">注文商品</th>
          <th style="white-space: nowrap;">支払金額</th>
          <th style="white-space: nowrap;">注文詳細</th>
        </tr>
      </thead>
      <tbody>
        <% @orders.each do |order| %>
          <tr>
            <td style="vertical-align: middle;"><%= order.created_at.strftime('%Y/%m/%d') %></td>
            <td>
              <%= order.postal_code %><br>
              <%= order.address %><br>
              <%= order.name %>
            </td>
            <td>
              <% order.order_items.each do |order_item| %>
                <%= order_item.item.name %><br>
              <% end %>
            </td>
            <td style="vertical-align: middle;"><%= order.total_price %>円</td>
            <td style="vertical-align: middle;"><%= link_to "表示する", public_order_path(order), class: "btn btn-primary", style: "white-space: nowrap;" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
