<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <script src="https://kit.fontawesome.com/5236e95e1d.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <style>
    html, body {
      height: 100%;
      margin: 0;
    }
    
    .container {
      min-height: 100%;
    }
    
    .footer {
      bottom: 0;
      width: 100%;
      text-align: center;
      padding: 10px;
      background-color: #f8f9fa;
    }
  </style>
  
  <body>
    
    <%= yield %>
    
    <footer class=" footer bg-dark text-white py-3" style="width: 100%;">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <p>CopyRight Infratop.inc</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
